<div class="selection-collapsed">
    <ul class="horizontal">
        <li ng-repeat="item in selected track by $index">
            <filter-select key="item" selected="filters[item]">{{item}}</filter-select>
        </li>
        <li>
            <a href="#" ng-click="toggle($event)">[+]</a>
        </li>
        <li>
            <a href="#" ng-click="selectAll($event)">[all]</a>
        </li>
        <li>
            <a href="#" ng-click="selectNone($event)">[none]</a>
        </li>
    </ul>
    <p>&nbsp;</p>
</div>
<div class="selection-overlay" ng-show="expanded"></div>
<div class="selection-modal" ng-show="expanded">
    <div class="selection-close-button">
        <a href="#" ng-click="toggle($event)">[-]</a>
    </div>
    <h4>I also do these:</h4>
    <ul class="horizontal">
        <li ng-repeat="item in items track by $index">
            <filter-select key="item" selected="filters[item]">{{item}}</filter-select>
        </li>
    </ul>
    <p>&nbsp;</p>
</div>