<div class="wrapper" ng-controller="home as vm">
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <img class="profile" src="assets/images/profile.png" alt="" />
            <h1 class="name" output content="vm.data.name"></h1>
            <h3 class="tagline" output content="vm.data.title">Solution Architect</h3>
        </div>
        <!--//profile-container-->

        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{ vm.data.email }}">{{ vm.data.email }}</a></li>
                <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{ vm.data.phone }}">{{vm.data.phone}}</a></li>
                <li class="website"><i class="fa fa-globe"></i><a href="{{ vm.data.website }}" target="_blank"><span output content="vm.data.website" substr="7"></span></a></li>
                <li class="linkedin"><i class="fa fa-linkedin"></i><a href="{{ vm.data.linkedin }}" target="_blank"><span output content="vm.data.linkedin" substr="8"></span></a></li>
                <li class="github"><i class="fa fa-github"></i><a href="{{ vm.data.github }}" target="_blank"><span output content="vm.data.github" substr="8"></span></a></li>
                <li class="twitter"><i class="fa fa-twitter"></i><a href="http://twitter.com/{{vm.data.twitter}}" target="_blank">@{{vm.data.twitter}}</a></li>
            </ul>
        </div>
        <!--//contact-container-->
        <div class="education-container container-block">
            <h2 class="container-block-title">Education</h2>
            <div class="item" ng-repeat="item in vm.data.education">
                <h4 class="degree" output content="item.diploma">MSc in Computer Science</h4>
                <h5 class="meta" output content="item.school">University of London</h5>
                <div class="time" output content="item.year">2011 - 2012</div>
            </div>
            <!--//item-->
        </div>
        <!--//education-container-->

        <div class="languages-container container-block">
            <h2 class="container-block-title">Languages</h2>
            <ul class="list-unstyled interests-list">
                <li>English <span class="lang-desc">(Native)</span></li>
                <li>French <span class="lang-desc">(Professional)</span></li>
                <li>Spanish <span class="lang-desc">(Professional)</span></li>
            </ul>
        </div>
        <!--//interests-->

        <div class="interests-container container-block">
            <h2 class="container-block-title">Interests</h2>
            <ul class="list-unstyled interests-list">
                <li>Climbing</li>
                <li>Snowboarding</li>
                <li>Cooking</li>
            </ul>
        </div>
        <!--//interests-->

    </div>
    <!--//sidebar-wrapper-->

    <div class="main-wrapper">
        <div class="resume-header-background"></div>
        <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
            <div class="summary" output content="vm.data.careerProfile">
            </div>
            <!--//summary-->
        </section>
        <!--//section-->
        <section class="section experiences-section">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
            <div class="employer-jumplinks">
                <h4>Worked at</h4>
                <ul class="horizontal">
                    <li ng-repeat="employer in vm.data.workExperience.employers track by $index">
                        <h5><a href="/#/#{{employer.name}}" target="_self">{{employer.name}}</a></h5>
                    </li>
                </ul>
            </div>
            <div ng-repeat="employer in vm.data.workExperience.employers track by $index" class="clearfix">
                <h3><a name="{{ employer.name }}"></a>{{ employer.name }}</h3>
                <div ng-repeat="mandate in employer.mandates track by $index" class="item clearfix">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title" output content="mandate.role"></h3>
                            <div class="time"><span>{{mandate.startDate | amDateFormat:'MMMM YYYY'}}</span> - <span>{{mandate.endDate | amDateFormat:'MMMM YYYY'}}</span></div>
                        </div>
                        <!--//upper-row-->
                        <div class="company" output content="mandate.client">
                        </div>
                        <div class="details" output content="mandate.description">
                        </div>
                        <div class="details" ng-show="mandate.tasks">
                            <ul>
                                <li ng-repeat="task in mandate.tasks track by $index" output content="task">
                                </li>
                            </ul>
                        </div>
                        <div class="details" ng-show="mandate.technologies">
                            <h5>Technologies</h5>
                            <ul class="horizontal">
                                <li ng-repeat="tech in mandate.technologies track by $index" output content="tech"></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </section>
        <!--//section-->
        <section class="section projects-section">
            <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
            <div class="intro">
                <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
            </div>
            <!--//intro-->
            <div class="item">
                <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>

            </div>
            <!--//item-->
            <div class="item">
                <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span>                -
                <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
            </div>
            <!--//item-->
            <div class="item">
                <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">Tempo</a></span>                - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
            </div>
            <!--//item-->
            <div class="item">
                <span class="project-title"><a href="hhttp://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Atom</a></span>                - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
            </div>
            <!--//item-->
            <div class="item">
                <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Delta</a></span>                - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
            </div>
            <!--//item-->
        </section>
        <!--//section-->

        <section class="skills-section section">
            <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
            <div class="skillset">
                <div class="item">
                    <h3 class="level-title">Python &amp; Django</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="98%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">Javascript &amp; jQuery</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="98%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">Angular</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="98%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">HTML5 &amp; CSS</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="95%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">Ruby on Rails</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="85%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

                <div class="item">
                    <h3 class="level-title">Sketch &amp; Photoshop</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="60%">
                        </div>
                    </div>
                    <!--//level-bar-->
                </div>
                <!--//item-->

            </div>
        </section>
        <!--//skills-section-->

        </div>
        <!--//main-body-->
    </div>