.resume-header-background{
    background-image: url('/assets/images/2014_12_11_10_53_03_HDR.jpg');
    background-position-x: 0;
    background-position-y: -50px;
    background-size: 100%;
    position: relative;
    height: 110px;
    margin-bottom: 30px;
    margin-left: -60px;
    margin-right: -60px;
    margin-top: -60px;
    opacity: 0.7;
}
@media (max-width: 768px) {
    .resume-header-background{
        height: 70px;
        background-position-y: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        opacity: 0.7;
    }
}

.horizontal > li{
    float: left;
    margin-right: 10px;
    list-style-type: none;
}

.horizontal+*{
    clear: both;
}

.employer-jumplinks{
    margin-bottom: 60px;
}

.selection-box,
.selection-box:hover,
.selection-box.selected,
.selection-box.selected:hover{
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    transition: all 100ms ease;
}
.selection-box:hover{
    opacity: 0.9;
}
.selection-box{
    text-align: center;
    margin: 2px;
    padding: 7px;
    background-color: #4B6A78;
    color: white;
    border: 1px solid silver;
    border-radius: 10px;
    cursor: pointer;
}
.selection-box.selected{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.selection-box.selected:hover{
    background-color: rgba(240, 240, 240, 100);
}
selection-collapsed > .filtered-item,
selection-collapsed > .filtered-item.ng-hide
{
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    transition: all 100ms ease;
}
selection-collapsed > .filtered-item.ng-hide{
    opacity: 0;
}
.selection-modal{
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 30px;
    
    /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: absolute;
    width: 80%; /* Default */

    /* Center the dialog */
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}
.selection-modal,
.selection-modal.ng-hide{
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    transition: all 100ms ease;
}
.selection-close-button{
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
}
.selection-modal > h4{
    margin-left: 30px;
}
.selection-overlay,
.selection-overlay.ng-hide{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.selection-overlay{
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#FFF;
    opacity: 0.6;
}
.selection-overlay.ng-hide{
    opacity: 0;
}
.item,
.item.ng-hide{
    -webkit-transition: all 100ms ease-in 0;
    -moz-transition: all 100ms ease-in 0;
    transition: all 100ms ease-in 0;
}
.item.ng-hide{
    opacity: 0;
}
.details,
.details.ng-hide{
    -webkit-transition: opacity 100ms ease-in 0;
    -moz-transition: opacity 100ms ease-in 0;
    transition: opacity 100ms ease-in 0;
    -webkit-transition: visibility 10ms ease-in 100ms;
    -moz-transition: visibility 10ms ease-in 100ms;
    transition: visibility 10ms ease-in 100ms;
}
.details.ng-hide{
    opacity: 0;
}

@media print{
    .display-collapsible.ng-hide{
        visibility: visible;
        display: inline-block !important;        
    }
    .no-print{
        display: none;
    }    
    .selection-box{
        text-align: center;
        margin: 2px;
        padding: 0px;
        border: 0;
        border-radius: 0px;
    }
    .container-block{
        float: left;
    }
    .contact-list{
        float: left;
    }
    .contact-list > li{
        margin: 0;
        padding: 0;
        font-size: 8pt;
    }
    .summary-section{
        clear: both;
    }
}