html{
    overflow-x: hidden;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.bg-color-1{    background-color: #3E454C;}
.bg-color-2{    background-color: #2185C5;}
.bg-color-3{    background-color: #7ECEFD;}
.bg-color-4{    background-color: #FFF6E5;}
.bg-color-5{    background-color: #FF7F66;}
.bg-color-white{    background-color: #FFF;}
.fore-color-1{    color: #3E454C;}
.fore-color-2{    color: #2185C5;}
.fore-color-3{    color: #7ECEFD;}
.fore-color-4{    color: #FFF6E5;}
.fore-color-5{    color: #FF7F66;}
.fore-color-white{    color: #FFF;}
.border-color-1{    border-color: #3E454C;}
.border-color-2{    border-color: #2185C5;}
.border-color-3{    border-color: #7ECEFD;}
.border-color-4{    border-color: #FFF6E5;}
.border-color-5{    border-color: #FF7F66;}
.border-color-white{    border-color: #FFF;}

.stripe-background {
    background-color: #2185C5;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
    box-shadow: 0px 1px 13px #101010 inset;}
.medium{
    font-size: 1.5em !important;
}
.big{
    font-size: 2.5em !important;
}
.bigger {
    font-size: 3em !important;
}
.biggest {
    font-size: 4em !important;
}

.section{
    width: 100%;
}

#full-header,
#full-header.minimized{
    margin-top: 0;
    z-index: 100;
    transition: 300ms margin ease-in-out;
    box-shadow: 0px 1px 13px #101010;
}
#full-header.minimized{
     margin-top: -250px;
}

#small-header,
#small-header.minimized{
    box-shadow: 0px 1px 13px #101010;
    margin-top: 0;
    z-index: 110;
    transition: 300ms margin ease-in-out;
    opacity: 0.9;    
}
#small-header.minimized{
     margin-top: -150px;
}

.cursive{
    font-family: 'Lobster', cursive;
}

.sans-serif{
    font-family: 'Oxygen', sans-serif;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}

.header .content {
    padding-left: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
}

.content.inner{
    margin-bottom: 50px;
    margin-left: 0;
}

.outset{    
    box-shadow: 0px 1px 13px #101010;
}

.inner-box{
    margin-top: 100px;
    margin-right: 0;
    margin-left: 0;
}

#main{
    top: 50px;
    z-index: 10;
}
.parallax{
    background-size: 100%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    transition: 50ms all ease;
}
#persona{
    box-shadow: 0px 1px 13px #101010 inset;
}
#persona.visible,
#persona.hidden{
    transition: 200ms opacity ease-in-out 100ms;
    transition: 200ms height ease-in-out 100ms;
}
#persona.hidden{
    opacity: 0;
    height: 0;
}
#persona.visible{
    opacity: 1;
    height: 650px;
}
#who{
    padding: 50px;
    display: table;
    /*border-bottom-width: 2px;
    border-bottom-style: solid;*/
}
#who .content{    
    display: table-cell;
    vertical-align: middle;
}
#what{
    height: 900px;
}
.domains-box{
    position: relative;
    height: 100px;
}
.what-box{
    height: 675px;
    padding: 10px;
}
.what-box-content {
    position: relative;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: transparent;
    padding: 5px;
    box-shadow: 0px 1px 1px #0f0f0f;
}
.what-box-details{
    max-height: 525px;
    overflow-x: auto;
    height: 525px;
    margin: 10px;
    box-shadow: 0px 2px 5px #ccc inset;
}
.what-box-details ul{
    list-style: none;
    padding: 0;
}
.what-box-details li{
    padding-left: 1.3em;
}
.wwhat-box-details li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */ 
}
.domain-badge{ 
    position: relative;
    height: 70px;
    line-height: 70px;
    width: 70px;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    box-shadow: 0px 1px 3px #0f0f0f;
}
.domain {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
}
.domain-badge i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.domains{
    padding-top: 10px;
}
.middle span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.badge{
    position: absolute;
    height: 100px;
    line-height: 100px;
    width: 100px;
    border: 10px solid white;
    border-radius: 50px;
    box-shadow: 0px 1px 3px #0f0f0f;
    left: -7px;
    top: -20px;
    z-index: 91;
}
.badge span{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.badge-title{
    position: absolute;
    border: 10px solid white;
    border-radius: 20px;
    height: 75px;
    top: -15px;
    width: 80%;
    line-height: 75px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 90;
    vertical-align: middle;

}
#stories{
    position: relative;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 2px 0px #ccc inset;
}
.story-link{
    font-size: 1.25em;
}
.story{
    position: absolute;
    top: 0;
    width: 100%;
    transition: 300ms all ease-in-out 1ms;
    opacity: 0;
}
.story.visible{
    opacity: 1;
}

#footer{
    height: 75px;
}
.fixed {
    position: fixed;
}
.relative{
    position: relative;
}

@media screen and (max-width: 768px) {
    .badge {
        top: -33px;
        left: -12px;
    }
}