/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.bg-color-1{    background-color: #3E454C;}
.bg-color-2{    background-color: #2185C5;}
.bg-color-3{    background-color: #7ECEFD;}
.bg-color-4{    background-color: #FFF6E5;}
.bg-color-5{    background-color: #FF7F66;}
.bg-color-white{    background-color: #FFF;}
.fore-color-1{    color: #3E454C;}
.fore-color-2{    color: #2185C5;}
.fore-color-3{    color: #7ECEFD;}
.fore-color-4{    color: #FFF6E5;}
.fore-color-5{    color: #FF7F66;}
.fore-color-white{    background-color: #FFF;}
.border-color-1{    border-color: #3E454C;}
.border-color-2{    border-color: #2185C5;}
.border-color-3{    border-color: #7ECEFD;}
.border-color-4{    border-color: #FFF6E5;}
.border-color-5{    border-color: #FF7F66;}
.border-color-white{    background-color: #FFF;}

.big{
    font-size: 2.5em;
}
.bigger {
    font-size: 3em;
}
.biggest {
    font-size: 4em;
}

.section{
    width: 100%;
}

#full-header,
#full-header.minimized{
    margin-top: 0;
    z-index: 100;
    transition: 300ms margin ease-in-out;
    box-shadow: 0px 1px 13px #101010;
}
#full-header.minimized{
     margin-top: -250px;
}

#small-header,
#small-header.minimized{
    box-shadow: 0px 1px 13px #101010;
    margin-top: 0;
    z-index: 110;
    transition: 300ms margin ease-in-out;
    opacity: 0.9;    
}
#small-header.minimized{
     margin-top: -150px;
}

.cursive{
    font-family: 'Lobster', cursive;
}

.sans-serif{
    font-family: 'Oxygen', sans-serif;
}

.center {
    text-align: center;
}

.header .content {
    padding-left: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
}

.content.inner{
    margin-bottom: 50px;
}

.outset{    
    box-shadow: 0px 1px 13px #101010;
}

.inner-box{
    margin-top: 45px;
}

#main{
    top: 50px;
    z-index: 10;
}
.parallax{
    background-size: 100%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    transition: 50ms all ease;
}
#persona{
    box-shadow: 0px 1px 13px #101010 inset;
}
#persona.visible,
#persona.hidden{
    transition: 200ms opacity ease-in-out 100ms;
    transition: 200ms height ease-in-out 100ms;
}
#persona.hidden{
    opacity: 0;
    height: 0;
}
#persona.visible{
    opacity: 1;
    height: 650px;
}
#who{
    padding: 50px;
    display: table;
    /*border-bottom-width: 2px;
    border-bottom-style: solid;*/
}
#who .content{    
    display: table-cell;
    vertical-align: middle;
}
#what{
    height: 900px;
    box-shadow: 0px 1px 13px #101010 inset;
}
#footer{
    height: 75px;
}
.fixed {
    position: fixed;
}
.relative{
    position: relative;
}